[submodule "src/outter/fr-schema"]
	path = src/outter/fr-schema
	url = https://github.com/wuhanchu/fr-schema.git
[submodule "src/components/Extra"]
	path = src/components/Extra
	url = https://github.com/wuhanchu/antd-components.git
[submodule "src/outter/fr-schema-antd-utils"]
	path = src/outter/fr-schema-antd-utils
	url = https://github.com/wuhanchu/fr-schema-antd-utils.git
