[submodule "src/outter/fr-schema-antd-utils"]
 	path = src/outter/fr-schema-antd-utils
 	url = https://gitee.com/whcsdtc/fr-schema-antd-utils.git
[submodule "src/outter/fr-schema"]
 	path = src/outter/fr-schema
 	url = https://gitee.com/whcsdtc/fr-schema.git
[submodule "src/pages/authority"]
 	path = src/pages/authority
 	url = https://gitee.com/whcsdtc/fr-schema-authority.git
[submodule "src/components/Extra"]
	path = src/components/Extra
 	url = https://gitee.com/whcsdtc/antd-components.git